*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     /* cores de fundo */
    --bg-grey-light: #F4F7FB;
    --bg-white: #F4F7FB;
    --bg-blue-dark: #142136;
    --bg-indigo: #6366f1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    background-color: var(--bg-grey-light);
}

body div input{
    border: none;
    border-radius: 5px;
}



.dark {
  --text-white: #e6e6e6;
  --text-dark: #ffffff;
  --bg-grey-light: #1E1E1E;
  --bg-white: #22395d;
  --bg-blue-dark: #142136;
  --bg-indigo: #0B2545;
}

/* Header Vertical */
header{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 230px;
    height: 96vh;
    background-color: #0B2545;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    gap: 50px;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#usuario{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    
}

#usuario div{
    font-size: 20px;
    font-weight: bold;
}
#usuario div svg{
    height: 50px;
    width: 50px;
    color: white;
}

#usuario div p{
    font-size: 15px;
    color: white;
}

#navegacao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    
}

.botoes-nav{
    height: 30px;
    border-radius: 9px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    gap: 10px;
    font-weight: bold;
}

.botoes-nav svg{
    width: 20px;
    height: 20px;
}

header a {
    text-decoration: none;
    color: white;
}

.botoes-nav:hover{
    background-color: rgb(49, 49, 49);
    background-color: #1c5fa8;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#login{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}

.botoes-user{
    height: 30px;
    border-radius: 9px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    gap: 10px;
    font-weight: bold;
}

.botoes-user svg{
    width: 20px;
    height: 20px;
}

.botoes-user:hover{
    background-color: rgb(49, 49, 49);
    background-color: #1c5fa8;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


/* ///////////////////////// */

/* Main  */
main {
  margin-left: 245px; 
  padding: 20px;
  display: grid;
}

main h1{
    text-align: center;
    color: white;
}

.header2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.item-header2{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: var(--text-dark);
    gap: 40px;
    align-items: center;
}

.item-header2 p{
    text-shadow: 5px rgba(0,0,0,0.5); 
}

.buttons .button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--bg-indigo);
  color: var(--text-white);
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

/* //////////////////////// */

/* Filtrar informações */

.info-container{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #0B2545;
    height: 100px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5); 
    padding: 20px 20px;
}

.info-container .itens-info p{
    color: white;
}



.container-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#botao-filtrar{
    margin-top: 17.5px;
}

.filtro-relatorio{
    margin-bottom: 20px;
}


#botao-filtrar button{
    background-color: #1c5fa8;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
    border: none;
}

#botao-filtrar button:hover{
    background-color: #2577ce;
}

#botao-ordem button{
    background-color: #27A69A;
    width: 100px;
    height: 30px;
    color: white; 
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

#botao-ordem button:hover{
    background-color: #37e0cf;
}

#botao-ordem{
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* //////////////////////// */

/* Tabela */

.tabela{
    margin-top: 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.tabela table{
    border-collapse: collapse;
    width: 100%;
    align-content: center;
}

.tabela th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    text-align: center;
}
.tabela td {
    background-color: white;
}

.editar{
    background-color: #E8A320;
    color: black;
    font-weight: bold;
    padding: 1px 5px;
    border-radius: 5px;
    border: none;
    height: 20px;
}

.editar:hover{
    background-color: #fdbe48;
}

.excluir{
    background-color: #eb3f3f;
    color: white;
    font-weight: bold;
    padding: 1px 5px;
    border-radius: 5px;
    border: none;
    height: 20px;
}

.excluir:hover{
    background-color: #da2121;
}

.ver{
    background-color: #1C5FA8;
    color: white;
    font-weight: bold;
    padding: 1px 5px;
    border-radius: 5px;
    height: 20px;
    border: none;
}

.ver:hover{
    background-color: #2678cf;
}

.tabela th{
    background-color: #f2f2f2;
}

/* ////////////////////////// */

/* Tabela cadastro de onibus */

.tabela2{
    margin-top: 30px;
}

.tabela2 table{
    border-collapse: collapse;
    width: 100%;
    align-content: center;
}

.tabela2 th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    text-align: center;
}
.tabela2 td {
    background-color: white;
}

.tabela2 th{
    background-color: #f2f2f2;
}

/* ////////////////////////// */

/* Filtrar informações (relatório */


.periodo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: white;
}

.periodo hr{
    width: 10px;
    height: 1px;
    border: 1px solid white;
}

.periodo #txtData{
    width: 80px;
}

.placa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.item-placa{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: white;
    
}




.container-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Seleção de opções*/
select{
    border: 0cap;
    padding-left: 5px;
    cursor: pointer;
    height: 20px;
}

/*Botão filtrar*/
.botao_filtrar {
    background: linear-gradient(45deg, rgb(68, 175, 19), rgb(11, 130, 0));
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    border-radius: 5px;
}

/*///////////////////////////*/

/* Div Gráficos */

.status {
    display: flex;
    flex-direction:column;
    gap: 30px;
    background-color: #0B2545;
    align-items: top;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5); 
}


.item-status{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

#status-grafico{
    display:flex;
    justify-content: space-around;
    margin-bottom: 25px;
    
}

#status-botao{
    justify-content: space-evenly; 
    width: 100%;  
}


.manutencao {
    background-color: #E8A320;
    height: 40px;        
    display: flex;    
    flex-direction: row;    
    align-items: center;   
    justify-content: center;
    color: #ffffff;
    padding: 0px 7px;
    border-radius: 5px;
}

.concluido {
    background-color: #27A69A;
    height: 40px;        
    display: flex;      
    flex-direction: row;  
    align-items: center;   
    justify-content: center;
    color: #ffffff;
    padding: 0px 7px;
    border-radius: 5px;
}

.aguardando {
    background-color: #3A9BD5;
    height: 40px;        
    display: flex;        
    align-items: center;   
    justify-content: center;
    color: #ffffff;
    padding: 0px 7px;
    border-radius: 5px;
}

.pendente {
    background-color: #ef5454;
    height: 40px;        
    display: flex;        
    align-items: center;   
    justify-content: center;
    color: #ffffff;
    padding: 0px 7px;
    border-radius: 5px;
}

.exportar {
    background: linear-gradient(45deg, rgb(100, 100, 100), rgb(69, 69, 69));
    height: 40px;        
    display: flex;        
    align-items: center;   
    justify-content: center;
    color: #ffffff;
    padding: 0px 7px;
    border-radius: 5px;
}

.link_pdf {
  text-decoration: none;
  color: white;
}

.grafico_barra {
    height: 300px;
    width: 500px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    justify-content: center;
}

.grafico_pizza {
    align-items: center;
    height: 300px;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 2px solid rgb(53, 53, 53); 
    padding-left: 25px;
}

/*//////////////////////////*/

/* Cadastro */
.cadastro-ordem{
    display: grid;
    background-color: #0B2545;
    margin-top: 70px;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);  
    color: white;
}

#foto{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#item-foto{
    background-color: gray;
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 150px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#foto button{
    margin-top: 20px;
}


#item-ordem-1{
    display: flex;
    flex-direction: row;
    gap: 27px;
    margin-top: 10px;
}


#item-ordem-2{
    display: flex;
    flex-direction: row;
    gap: 34px;
    margin-top: 20px;
}

#item-ordem-3{
    margin-top: 32px;
}

#item-ordem-3 p{
    margin-bottom: 5px;
}

#item-ordem-3 textarea{
    resize: none;
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

#item-ordem-4{
    margin-top: 32px;
}

#item-ordem-4 p{
    margin-bottom: 5px;
}

#item-ordem-4 textarea{
    resize: none;
    width: 100%;
    height: 100px;
    border-radius: 5px;
}


#item-ordem-5{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 10px;
}

#button-cadastrar button{
    background-color: #27A69A;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;

}

#button-cancelar button{
    background-color: #ef5454;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

#button-cancelar button:hover{
    background-color: rgb(179, 56, 56);
}

#button-cadastrar button:hover{
    background-color: rgb(2, 199, 2);
}

/* Cadastro Item */
.cadastro-item{
    display: grid;
    background-color: #0B2545;
    margin-top: 70px;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);  
    color: white;
}

#item-item-1{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#item-item-1 input{
    height: 25px;
}

#item-item-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

#item-item-2 input{
    height: 25px;
}

#item-item-3{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#item-item-3 textarea{
    resize: none;
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

#item-item-4{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#item-item-4 input{
    height: 25px;
}

#item-item-4_5{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#item-item-4_5 input{
    height: 25px;
}

#item-item-5{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 10px;
}

#categoria, #nome_item, #descricao, #atual, #minimo {
    font-size: 12.5px;
}

/* Categoria */

.categorias{
    display: grid;
    background-color: #0B2545;
    margin-top: 70px;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5); 
}

#container-botoes{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 10px;
    justify-content: end;
}

#cards{
    display: grid;
    margin: 10px 10px;
    grid-template-columns: 1fr 1fr 1fr;

}

.card{
    display: flex;
    flex-direction: column;
    background-color: #1C5FA8;
    width: 290px;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 5px 5px;
}

.botoes-card {
    display: flex;  
    flex-direction: row;
    gap: 10px;
}

#nova-categoria {
    background-color: #27A69A;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 12.5px;
    border-radius: 5px;
    border: none;
}

#nova-categoria:hover{
    background-color: #1e776e;
}

#voltar {
    background-color: #E8A320;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 12.5px;
    border-radius: 5px;
    border: none;
}

#voltar:hover{
    background-color: #a1731d;
}