*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 600px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url(../images/blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    display:flex;
}

.item{
    background-color:#1c60a87d;
    width:300px;
    height: 400px;
    padding:30px;
    border-radius:20px;
}

#login{
    display:flex;
    flex-direction:column;
    gap:30px;
}

#login h2{
    text-align:center;
    color:white;
}

input{
    padding:10px;
    border:none;
    border-radius:8px;
}

input[type="submit"]{
    background:white;
    color: black;
    font-weight:bold;
    cursor:pointer;
}

#botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 237px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    
}
a{
    list-style: none;
    text-decoration: none;
    color: black;
}
#botao:hover{
    background-color: rgb(210, 210, 210);
}

#item-2{
    margin-top: 70px;
    color: white;
    list-style: none;
    text-decoration: none;
    
}



#item-2 a{
   list-style: none;
   text-decoration: none; 
   color: rgb(206, 206, 206);
}

#item-2 a:hover{
    color: red;
}